# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Release
on:
  workflow_dispatch:
  #push:
  #  branches:
  #  - dev
permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance
jobs:

  release:
    #needs: build
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://www.npmjs.com/package/uzdu
    if: github.ref == 'refs/heads/main'
    container:
      image: skipero/node-cli:24
      #options: --entrypoint /usr/sbin/sshd
    #if: github.ref == 'refs/heads/dev' && (startsWith(github.event.head_commit.message, 'release ') || startsWith(github.event.head_commit.message, 'rc ') )
    #if: github.base_ref == 'dev' && (startsWith(github.event.head_commit.message, 'release ') || startsWith(github.event.head_commit.message, 'rc ') )
    #if: startsWith(github.ref, 'refs/tags/') && github.base_ref == 'master' && contains(fromJSON('["release", "rc"]'), github.event.head_commit.message)
    #services:
    #  testssh:
    #    image: skipero/node-cli:24
    #    options: '--name testssh2'

    
    steps:
      - name: start SSH
      #  run:  docker exec ${{ job.services.dockerssh.id }} sh -c '/usr/sbin/sshd'
        run: /usr/sbin/sshd
      - name: Checkout source code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref }}
      - name: Cache npm dependencies
        uses: actions/cache@v4
        with:
          path: '~/.npm'
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm test
        env:
          UZDU_TEST_SSH: sftp://admin:admin@localhost/tmp/test/
          UZDU_TEST_S3: uzdu:ru-central1-d:http://storage.yandexcloud.net
          UZDU_SSH_KEY: |
            -----BEGIN OPENSSH PRIVATE KEY-----
            b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
            QyNTUxOQAAACDhgNM1IaxFyzmf4gSAG5maGyvy9l3e/jVvx6DbNvR8zQAAAJD5BsR5+QbE
            eQAAAAtzc2gtZWQyNTUxOQAAACDhgNM1IaxFyzmf4gSAG5maGyvy9l3e/jVvx6DbNvR8zQ
            AAAEBA8p6k7aRpYrihJ7Wr+iiYA1t/+meoijF69lYuCGCjAeGA0zUhrEXLOZ/iBIAbmZob
            K/L2Xd7+NW/HoNs29HzNAAAADURlbmlzIEthbGluaW4=
            -----END OPENSSH PRIVATE KEY-----
      - run: git config --global --add safe.directory '*'
      #- run: git rev-parse --git-dir .
      #- run: npm run release
      #- run: npm i -g @semantic-release/exec@7.1.0
      - name: List files in /tmp/test
        run: ls -la /tmp/test
      - name: Publish with local netkos/act
        if: ${{ success() && env.ACT }} ## gh act -j release --secret-file .env ## env.ACT
        run: npx -y --package semantic-release@25 --package @semantic-release/exec@7 -- semantic-release --no-ci --dry-run
        #uses: cycjimmy/semantic-release-action@v6
        #with:
        #  dry_run: true
        #  ci: false
        #  extra_plugins: |
        #    @semantic-release/exec@7.1.0
      - name: Publish on Github
        if: ${{ success() && !env.ACT }}
        run: npx -y --package semantic-release@25 --package @semantic-release/exec@7 -- semantic-release
        #env:
        #  GITHUB_TOKEN: secrets.GH_TOKEN
